.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem 0.7rem;
    border-radius: 10px;
    width: 7rem;
}

.nav_text {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
    color: var(--color-gray-950);
}

.nav_button:hover {
    background-color: var(--color-yellow-100);
}